.search-bar {
    display: flex;
    width: 60%;
    padding: 3px;
    background-color: #36304a;
}

.main-search-bar {
    width: 100%;
    outline: none;
    border: 0px;
    border-right: 0px;
    border-radius: 0px;
    text-align: center;
    font-size: medium;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
}

.banner {
    background-color: #36304a;
    color: white;
    width: 60%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.table-wrapper {
    overflow-y: auto;
    height: 600px;
    width: 60%;
    border-radius: 0px 0px 10px 10px;
}

.main-table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.main-table * {
    position: relative
}

